@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --lobster-typo: "Lobster", sans-serif;
    --poppins-typo: "Poppins", sans-serif;
    --dark-orange: #A87251;
    --light-orange: #D4AF7F;
    --dark-wine: #391918;
    --font-12: 1.2rem;
    --font-14: 1.4rem;
    --font-16: 1.6rem;
    --font-20: 2.0rem;
    --font-24: 2.4rem;
    --font-32: 3.2rem;
    --font-54: 5.4rem;
    --font-156: 15.6rem;
    --space-8: 0.8rem;
    --space-16: 1.6rem;
    --space-24: 2.4rem;
    --space-74: 7.4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;

}

/* Classes utilitárias */

.u-titles h2{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-32), 8vw, var(--font-54));
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: var(--space-16);
}

.u-titles h3{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-24), 8vw, var(--font-32));
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: var(--space-16);
}

.u-section{
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    width: 100%;
    height: auto;
    padding: var(--space-74) clamp(var(--space-24), 4vw, var(--space-74));
}


/* Header */

.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10dvh;
    padding: var(--space-24) clamp(var(--space-24), 4vw, var(--space-74));
    background-color: #2C2C2C;
    z-index: 10;
}

.header__title h1{
    width: 8rem;
    color: var(--primary-color);
    font-weight: 400;
    font-family: var(--lobster-typo);
    font-size: var(--font-20);
    text-transform: uppercase;
    text-wrap: balance;
    word-wrap: break-word;
}

.header__nav{
position: absolute;
left: 0;
top: 10dvh;
  display: flex;
  flex-direction: column;
  padding: var(--space-16);
  gap: var(--space-16);
  width: 100%;
  background-color: #2C2C2C;
  transform: translateY(-150%);
  transition: transform 0.3s ease-in-out;

}

.header__nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
    & a{
        text-decoration: none;
        color: var(--primary-color);
        font-family: var(--poppins-typo);
        font-size: var(--font-20);
        text-transform: uppercase;
        padding: var(--space-8);
        transition: all 0.3s ease-in-out;
        &:hover{
            color: var(--dark-wine);
        }
        &:focus, &:hover{
            background-color: var(--primary-color);
        }

    }
}

.header__nav.active-menu {
  transform: translateY(0);
}

.header__menu-btn{
    width: 3rem;
    height: 4rem;
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
    & span{
        transition: 0.3s ease-in-out;
    }

    & span:nth-child(1){
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-color);
        border-radius: var(--space-8);
    }
    & span:nth-child(2){
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-color);
        border-radius: var(--space-8);
    }
    & span:nth-child(3){
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-color);
        border-radius: var(--space-8);
    }
}

.header__menu-btn.active-menu-btn{
    & span:nth-child(1){
        translate: 0 0.8rem; 
        rotate: 225deg;
    }
    & span:nth-child(2){
        opacity: 0; /* A linha do meio some */
    }
    & span:nth-child(3){
       translate: 0 -1.6rem; 
        rotate: -225deg;
    }
}

/* Hero */

.site-main__hero{
    display:flex;
    flex-direction: column;
    gap: var(--space-24);
    width: 100%;
    height: 100dvh;
    padding: calc(10dvh + var(--space-74)) clamp(var(--space-24), 4vw, var(--space-74));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/images/andrea-donato-LCxehckRVCA-unsplash\ \(1\).jpg');
    background-size: cover;
    color: var(--primary-color);
}

.hero__titles h2{
    width: min-content;
    font-family: var(--lobster-typo);
    font-size: clamp(var(--font-54), 8vw, var(--font-156));
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: var(--space-16);
}

.hero__titles h3{
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    max-width: 72rem;
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-24), 8vw, var(--font-32));
    font-weight: 400;
    & ::first-letter{
        text-transform: uppercase;
    }
    
}

.hero__button{
    max-width: max-content;
    padding: var(--space-8) var(--space-24);
    background-color: var(--dark-orange);
    border: none;
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-20), 8vw, var(--font-32));
    text-align: center;
    transition: all 0.3s ease-in-out;
        &:hover, &:focus{
            color: var(--dark-wine);
            background-color: var(--light-orange);
            transform: scale(1.05);
        }
        &:active{
            transform: scale(0.95);
        }
        
}

/* Experience */

.experience{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: right;
}

.experience img{
    display: none;
}


.experience__intro h2{
    color: var(--dark-orange)
}

.experience__intro p{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-16), 8vw, var(--font-32));
    font-weight: 400;
    line-height: 1.3;
    text-align: justify;
}

/* Services */

.services{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: left;
}

.services__card{
    position: relative;
    display: grid;
    gap: var(--space-16);
    padding: var(--space-24);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.services__card h4{
    width: min-content;
    font-family: var(--lobster-typo);
    font-size: clamp(var(--font-20), 8vw, var(--font-32));
    font-weight: 400;
    text-transform: uppercase;
}
.services__card p{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-12), 8vw, var(--font-20));
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
}

.services__card p:nth-child(2):before{
    content: "";
    position: absolute;
    top: 0;
    left: -2.9rem;
    rotate: -60deg;
    width: 6rem;
    height: 2rem;
    background-color: var(--dark-orange);
}

.services__card:nth-child(2):hover{
    background-color: var(--light-orange);
}

.services__card:nth-child(3):hover{
    background-color: var(--dark-orange);
    color: var(--primary-color);
}

.services__card:nth-child(4):hover{
    background-color: var(--dark-wine);
    color: var(--primary-color);
}

/* Team */

.team{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: var(--space-74) clamp(var(--space-24), 4vw, var(--space-74));
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: right;
}

.team__intro h2{
    color: var(--dark-orange)
}

.team__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center;
    gap: var(--space-24);
}

.team__card{
    position: relative;
    width: 100%;
}

.team__card-content{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    padding: var(--space-8);
    color: var(--primary-color);
    text-align: center;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.team__card-content, .reviews__card-content h4{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-14), 8vw, var(--font-24));
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: var(--space-8);
}

.team__card-content p, .reviews__card-content p{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-12), 5vw, var(--font-20));
    font-weight: 400;
    line-height: 1.6;
}
.team__card-image, .reviews__card-image{
    width: 100%;
    height: 100%;
   transition: all 0.3s ease-in-out;
}

.team__card-image img, .reviews__card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.team__card:hover img{
    filter: brightness(40%);
    transition: all 0.3s ease-in-out;
}

.team__card:hover .team__card-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

/* Reviews */

.reviews{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: left;

}

.reviews__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--space-24);
    justify-content: center;
}

.reviews__card{
    position: relative;
    width: 100%;
    
}

.reviews__card-image::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 1) )
}

.reviews__card-content{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    padding: var(--space-8);
    color: var(--primary-color);
    text-align: center;
    transform: translateY(-1rem);
}

/* Contact */

.contact{
    background-color: var(--primary-color);
    text-align: right;
}


.contact__intro h2{
    color: var(--dark-orange)
}

.contact__details{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-24);
    justify-content: center;
    width: 100%;
    height: auto;
    padding: var(--space-24);
    background-color: var(--secondary-color);
    color:  var(--primary-color);
    text-align: center;
}

.contact__image-container img{
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
}

.contact__details address{
    flex: 0 1 35rem;
}

.contact__image-container{
    flex: 1 1 auto;
    min-width: 0;
}

.contact__details h4{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-20), 1vw, var(--font-32));
    font-weight: 400;
    text-transform: uppercase;
    margin: var(--space-16) 0;
    color: var(--light-orange)
}

.contact__details p, .contact__details dt, .contact__details dd{
    font-family: var(--poppins-typo);
    font-size: clamp(var(--font-14), 8vw, var(--font-20));
    font-weight: 400;
    line-height: 1.6;
}

.contact__details div{
    display: flex;
    justify-content: space-between;
}

/* Footer */

.footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer.u-section {
     align-items: center;
}

.footer p, a{
    font-size: clamp(var(--font-12), 8vw, var(--font-24));
    margin-left: var(--space-8);
}

.footer a{
    position: relative;
    color: var(--primary-color);
    text-decoration: none;
    background: linear-gradient(0deg, var(--primary-color), var(--primary-color)) no-repeat right bottom / 0 0.2rem;
    transition: background-size 0.5s;
}

.footer a:where(:hover, :focus-visible) {
  background-size: 100% 0.2rem;
  background-position-x: left;
}

/* Rever linha 503, fazer uma classe utilitaria para todas as seções e outros componentes, colocar a imagem da seção de experiência e ajeitar o link de navegação*/



















