@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --lobster-typo: "Lobster", sans-serif;
    --poppins-typo: "Poppins", sans-serif;
    --dark-orange: #A87251;
    --light-orange: #D4AF7F;
    --dark-wine: #391918;
    --font-12: 1.2rem;
    --font-14: 1.4rem
    --font-16: 1.6rem;
    --font-20: 2.0rem;
    --font-24: 2.4rem;
    --font-32: 3.2rem;
    --font-54: 5.4rem;
    --font-156: 15.6rem;
    --spacee-8: 0.8rem;
    --space-16: 1.6rem;
    --space-24: 2.4rem;
    --space-74: 7.4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

/* Header */

.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10dvh;
    padding: var(--space-24);
    background-color: #2C2C2C;
    z-index: 10;
}

.header__title h1{
    width: 8rem;
    color: var(--primary-color);
    font-weight: 400;
    font-family: var(--lobster-typo);
    font-size: var(--font-20);
    text-transform: uppercase;
    text-wrap: balance;
    word-wrap: break-word;
}

.header__nav{
position: absolute;
left: 0;
top: 10dvh;
  display: flex;
  flex-direction: column;
  padding: var(--space-16);
  gap: var(--space-16);
  width: 100%;
  background-color: #2C2C2C;
  transform: translateY(-150%);
  transition: transform 0.3s ease-in-out;

}

.header__nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
    & a{
        text-decoration: none;
        color: var(--primary-color);
        font-family: var(--poppins-typo);
        font-size: var(--font-20);
        text-transform: uppercase;
        padding: var(--spacee-8);
        transition: all 0.3s ease-in-out;
        &:hover{
            color: var(--dark-wine);
        }
        &:focus, &:hover{
            background-color: var(--primary-color);
        }

    }
}

.header__nav.active-menu {
  transform: translateY(0);
}

.header__menu-btn{
    width: 3rem;
    height: 4rem;
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
    & span{
        transition: 0.3s ease-in-out;
    }

    & span:nth-child(1){
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-color);
        border-radius: var(--spacee-8);
    }
    & span:nth-child(2){
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-color);
        border-radius: var(--spacee-8);
    }
    & span:nth-child(3){
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-color);
        border-radius: var(--spacee-8);
    }
}

.header__menu-btn.active-menu-btn{
    & span:nth-child(1){
        translate: 0 0.8rem; 
        rotate: 225deg;
    }
    & span:nth-child(2){
        opacity: 0; /* A linha do meio some */
    }
    & span:nth-child(3){
       translate: 0 -1.6rem; 
        rotate: -225deg;
    }
}


.site-main__hero{
    display:flex;
    flex-direction: column;
    gap: var(--space-24);
    width: 100%;
    height: 100dvh;
    padding: calc(10dvh + var(--space-74)) var(--space-24);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/andrea-donato-LCxehckRVCA-unsplash\ \(1\).jpg');
    background-size: cover;
    color: var(--primary-color);
}











